.img-profile {
  position: relative;
  margin-bottom: 1px;
}

.main-nav ul li {
  display: block;
  position: relative;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 1px;
  text-align: center;
  background: #ffffff;
  color: #294b4f;
}

.main-nav ul li .activeLink {
  background: #04eaff;
  color: #294b4f;
}

.main-nav ul li button {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  padding: 30px 0;
  height: 9rem;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  width: 100%;
  cursor: pointer;
  outline: none;
}

.main-nav ul li button i {
  font-size: 1.4rem;
}

.header-title {
  font-size: 1rem;
}

.header-subtitle {
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 0.8rem;
  color: #5b7c7f;
  opacity: 0.9;
}

.main-header:after {
  content: "";
  background: #e5e5e5;
  height: 100%;
  top: 0;
  right: -1px;
  z-index: 1;
  position: absolute;
  width: 1px;
}
